body {
	margin: 0;
}
* {
	box-sizing: border-box;
}
.pagination {
	display: flex;
	align-items: center;
}
.pagination .dropdown {
	display: flex;
	align-items: center;
	position: relative;
}
.pagination .dropdown .selected-values {
	padding: 5px 10px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.pagination .dropdown ul {
	position: absolute;
	margin: 0;
	list-style-type: none;
	padding: 0;
	z-index: 1;
	right: 0;
	top: 35px;
}
.pagination .dropdown ul li {
	padding: 5px 10px;
	cursor: pointer;
	background-color: rgb(217, 255, 255);
	border-bottom: 1px solid #ccc;
}
.pagination .page-nav {
	display: flex;
	align-items: center;
}
.pagination .page-nav .current-page {
	padding: 5px 10px;
}
.pagination .page-nav button {
	padding: 0;
	border: none;
	background-color: #fff;
	color: #1b6ba0;
	cursor: pointer;
}
.pagination .page-nav button:disabled {
	opacity: 0.3;
	cursor: auto;
}
