body {
	margin: 0;
}
* {
	box-sizing: border-box;
}
.flex-table {
	display: flex;
	align-items: center;
	justify-content: center;
}
.data-table-container {
	display: flex;
	flex-direction: column;
}
.pagination-container {
	display: inline-block;
}
.table-container {
	display: inline-block;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
.pagination .dropdown {
	display: flex;
	align-items: center;
	position: relative;
}
.pagination .dropdown .label {
	margin-right: 10px;
}
.pagination .dropdown .selected-values {
	padding: 5px 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-right: 10px;
}
.pagination .dropdown ul {
	position: absolute;
	margin: 0;
	list-style-type: none;
	padding: 0;
	z-index: 1;
	right: 0;
	top: 35px;
}
.pagination .dropdown ul li {
	padding: 5px 10px;
	cursor: pointer;
	background-color: rgb(217, 255, 255);
	border-bottom: 1px solid #ccc;
}
.pagination .page-nav {
	display: flex;
	align-items: center;
}
.pagination .current-page {
	padding: 5px 10px;
	margin-right: 10px;
	color: #4b91cf;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.pagination .page-nav button:first-child {
	margin-right: 10px;
}
.pagination .page-nav button {
	padding: 0;
	border: none;
	background-color: #fff;
	color: #1b6ba0;
	cursor: pointer;
}
.pagination .page-nav button:disabled {
	opacity: 0.3;
	cursor: auto;
}

table {
	border-collapse: collapse;
}
table th {
	text-align: left;
	background-color: #b7edff;
	font-size: 16px;
}
table td {
	font-size: 15px;
}
table th,
table td {
	padding: 5px;
	margin: 0;
	text-transform: capitalize;
	border: 1px solid #ccc;
}
